doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    form(action="/confirm", method="post")
      input(type="text" name="name" placeholder="Entername" required)
      input(type="password" name="pass" placeholder="Enterpass" required) 
      button
    